<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap/bootstrap-grid.css" rel="stylesheet" type="text/css">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Start remove -->
<div class="container">
    <div class="row" style="width: 100%">
        <!-- End remove -->

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        <!-- End remove -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <a href="#">
                <div class="card">
                    <div class="card-header">
                        Video title
                      </div>
                    <img class="card-img-top" src="https://via.placeholder.com/100x120" alt="<!-- test -->">
                    <div class="card-body">
                        <div class="extra-information">
                            <span class="participants">Person 1 & person 2</span>
                            <span class="channel">channel test</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>