# Default ignored files
/shelf/
/workspace.xml
.idea/
# Datasource local storage ignored files
/../../../../:\Projects\Woverra\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
